<div class="container">
    <h1>{{title}}</h1>
    <p>{{body}}</p>
    {{#if info}}
        <div class="alert alert-info">{{info}}</div>
    {{/if}}
    <div>
        <a class="btn btn-default" href="/login">Login</a>
    </div>
</div>
