<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{baseUrl}}/jspm_packages/github/twbs/bootstrap@3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{baseUrl}}/app/styles/style.css">

</head>
<body>
{{{body}}}
</body>
</html>
