/* Coolors Exported Palette - coolors.co/b4b8ab-153243-284b63-f5f8e9-eef0eb */

$color1: #b4b8ab; //rgba(180, 184, 171, 100)
$color2: #153243; //rgba(21, 50, 67, 100)
$color3: #284b63; //rgba(40, 75, 99, 100)
$color4: #f5f8e9; //rgba(245, 248, 233, 100)
$color5: #eef0eb; //rgba(238, 240, 235, 100)
